/*body{
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; 
	font-size:12px;
}*/
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */
.myform{
	margin:100px auto;
	width:400px;
	padding:14px;
}

.myform2{
	margin:100px auto;
	width:450px;
	padding:14px;
}

.myformlogin{
	margin-top:100px; 
	margin-left:250px;
    margin-right:20px;
	width:400px;
	padding:14px;
    float:left;
}

.logo{
    float:left;
    margin-top:80px;
    padding-left:20px;
    padding-top:20px;
    border-left:solid 3px #000; 
    height:270px;
}

.logo img{
border:solid 3px #7F7F7F;
}

    /* ----------- basic ----------- */
	#basic{
		border:solid 3px #7F7F7F;
        font-size:12px;
	}
	#basic h1 {
		font-size:14px;
		font-weight:bold;
		margin-bottom:8px;
	}
	#basic .top{
		font-size:11px;
		color:#666666;
		margin-bottom:20px;
		border-bottom:solid 1px #dedede;
		padding-bottom:10px;
	}
    #basic .permission{
		font-size:11px;
		color:#666666;		
	}
	#basic label{
		display:block;
		font-weight:bold;
		text-align:right;
		width:140px;
		float:left;       
	}
    #basic .label{
		display:block;
		font-weight:bold;
		text-align:right;
		width:140px;
		float:left;
        margin-bottom:150px;
	}
	#basic .small{
		color:#666666;
		display:block;
		font-size:11px;
		font-weight:normal;
		text-align:right;
		width:140px;
	}
    #basic .check{
		font-size:11px;
		color:#666666;
		margin-top:20px;
        margin-left:15px;
        margin-right:15px;
	}
	#basic .input{
		float:left;
		width:200px;
        border:solid 1px #666666;
		margin:2px 0 30px 10px;
	}
    #basic .input2{
		float:left;     
		margin:2px 200px 30px 10px;
	}
	#basic button{ 
		clear:both;
		margin-left:150px;
		background:#888888;
		color:#FFFFFF;
		border:solid 1px #666666;
		font-size:11px;
		font-weight:bold;
		padding:4px 6px;
	} 
   .loading{
        color:red;
        font-weight:bold;
        margin-left:50px;
        margin-top:15px;
    }
    .permData{    
        overflow:auto;
        width:50%;
        height:180px;
        border:1px solid #666666;
        margin-left:150px;
        margin-bottom:20px;
    }
    
   
