
body{
background:#ffffff url('images/stripe_tuned.gif') top center repeat-x;
margin:10px 10px 0px 0px;
padding:0px;
color:#999999;
font-family:"Trebuchet MS",arial,sans-serif;
/*font-size:60%;*/
}

#blogtitle{
width:100%;	
margin:0px auto;
padding:0 0 5px 0;
font-size:1.0em;
line-height:1.2em;

}

#small{
positon:relative;
padding-left: 5px;
color:#fff;

}

#small2{
positon:relative;
float:right;
margin-top: -15px;
}

#small .notselected{
color:#d9d5d5;
text-decoration: none;
color:#fff;
}

#small .selected{
color:red;
text-decoration: none;
}

#small .logout{
margin-left:5px;
color:red;
text-decoration: none;
font-size:80%;
}

#print{
margin-left:20px;
margin-top:30px;
margin-bottom:0px;
font-size:15px;
text-decoration: none;
}

#print a, a:hover, a:active{
color:#3E3E5E;
text-decoration: none;
}

#print img{
color:#fff;
text-decoration: none;
}

#small .logout a:hover{
color:#fff;
}

#small .logout2{
margin-left:19%;
color:red;
text-decoration: none;
font-size:80%;
}

#small .title{
margin-left:40%;
color:#fff;
font-size:80%;
font-weight:bold;
text-decoration:none;
}

#small a:hover, a:active{
color:red;
text-decoration:none;
}

#small a{
margin-top:4px;
}



UL.BLUE {
list-style: url(images/bullet.jpg) disc;
font-size: 1.1em;

}

#leftcontent {
position: absolute;
left:10px;
top:50px;
width:200px;
margin-top: 116px;
background-image:url("images/strips_onside.jpg");
background-repeat:repeat-y;
font-size:1.0em;
padding-left: 12px;	
padding-top: 8px;

}

#leftcontent p{padding-right:10px; margin-left: 5px; color:#888; font-size:1em;}

#leftcontent a, a:link { color:#888;}

#leftcontent a:hover, a:active{ color:#FF6666;}


#centercontent {
margin-top: 30px;
background:#fff;
margin-left: 5px;
margin-right:300px;
color:#000;
padding:20px;
}

#centercontent2 {
margin-top: 10px;
background:#fff;
margin-left: 5px;
color:#000;
padding:20px;
}



#centercontent a, a:link { color:#006633;}

#centercontent a:hover, a:active{ color:#FF6666;}

.centercontentleft {
-moz-border-radius-bottomleft:3px;
-moz-border-radius-bottomright:3px;
-moz-border-radius-topleft:3px;
-moz-border-radius-topright:3px;
-webkit-border-radius-bottomleft:3px;
-webkit-border-radius-bottomright:3px;
-webkit-border-radius-topleft:3px;
-webkit-border-radius-topright:3px;
float:left; width:40%; height:200px; background-color:#fff; text-align:left;
border:solid 2px #ccc; margin: 4px 10px 5px 10px;  font-weight:bold; font-size:0.8em; color:#666666;
}

.centercontentleftlast {
-moz-border-radius-bottomleft:3px;
-moz-border-radius-bottomright:3px;
-moz-border-radius-topleft:3px;
-moz-border-radius-topright:3px;
-webkit-border-radius-bottomleft:3px;
-webkit-border-radius-bottomright:3px;
-webkit-border-radius-topleft:3px;
-webkit-border-radius-topright:3px;
float:left; width:40%; height:100px; background-color:#fff; text-align:left;
border:dashed 2px #ccc; margin: 4px 10px 10px 10px; padding:6px; font-size:1.1em; color:#666666;}

.centercontentleft2 {
-moz-border-radius-bottomleft:3px;
-moz-border-radius-bottomright:3px;
-moz-border-radius-topleft:3px;
-moz-border-radius-topright:3px;
-webkit-border-radius-bottomleft:3px;
-webkit-border-radius-bottomright:3px;
-webkit-border-radius-topleft:3px;
-webkit-border-radius-topright:3px;
float:left; width:25%; height:340px; background-color:#fff; text-align:left;
border:solid 2px #ccc; margin: 4px 10px 5px 10px;   font-size:1.1em; color:#666666;
}

.centercontentleft3 {
-moz-border-radius-bottomleft:3px;
-moz-border-radius-bottomright:3px;
-moz-border-radius-topleft:3px;
-moz-border-radius-topright:3px;
-webkit-border-radius-bottomleft:3px;
-webkit-border-radius-bottomright:3px;
-webkit-border-radius-topleft:3px;
-webkit-border-radius-topright:3px;
float:left; width:15%; height:340px; background-color:#fff; text-align:left;
border:solid 2px #ccc; margin: 4px 10px 5px 10px; font-weight:bold; font-size:1em; color:#666666;
}

.centercontentright {float:right; width:30%; height:100px; background-color:#fff; text-align:left;
border:dashed 2px #ccc; margin: 4px 10px 5px 10px; padding:6px; font-size:1.1em; color:#666666;}

.buttoncontent {float:left; width:100%; height:70px; background-color:#fff; text-align:left;
 margin-top: 40px; margin-left: 10px; font-size:1.5em; color:#666666;}
 
 .buttoncontent input{  	
	font-size:17px;
  	font-weight: bold;
    margin-right:5px;
}



#rightcontent {
position: absolute;
right:10px;
top:0px;
width:450px;
height:690px; 
font-size:1.1em;
/*background-image:url("images/strips_onside.jpg");*/
/*background-repeat:repeat-y;*/
margin-top: 90px; 
padding-left: 5px;
padding-right: 8px;
}

#rightcontent p {color:#000;}

#rightcontent a, a:link { color:#888;}

#rightcontent a:hover, a:active{ color:#FF6666;}

.rightcontent {
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
-webkit-border-radius-bottomleft:6px;
-webkit-border-radius-bottomright:6px;
-webkit-border-radius-topleft:6px;
-webkit-border-radius-topright:6px;
float:left; 
width:80%; 
height:624px; 
text-align:left;
border:solid 4px #ccc; 
margin: 2px 10px 0px 10px; 
font-size:1.1em; 
overflow: auto;
background-color:#E6E6FA;
}
#right{
padding-left:10px;
padding-right:10px;
}

.rightcontent h3{
color:black;
}

.rightcontent img{
padding-right:10px;
}

#banner {
background:#fff;
height:40px;
voice-family: "\"}\"";
voice-family: inherit;
height:39px;

}


html>body #banner {
height:39px;

}

h1 {
margin:0px 10px 10px 10px;
float:left;
font-size:1.8em;
color:#999;
padding-top:3px;
text-align:justify;
}

h2 {
margin:0px 10px 10px 10px;
float:left;
font-size:1em;
color:#999;
padding-top:1px;
text-align:justify;
}

h3 {
font-size:14px;
color:#999;
}

h4 {
background:transparent url('images/bg-light-gray.png') repeat-x scroll left bottom;
color:#333333;
font-size:15px;
font-weight:bold;
margin:0;
margin-bottom:2px;
padding:2px 10px 3px;
text-align:left;
}

.rubrique{
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
-webkit-border-radius-bottomleft:6px;
-webkit-border-radius-bottomright:6px;
-webkit-border-radius-topleft:6px;
-webkit-border-radius-topright:6px;
background:#F7F7F7;
border:4px solid #CCCCCC;
width:300px;
height:50px;
margin-left:10px
}

.rubrique2{
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
-webkit-border-radius-bottomleft:6px;
-webkit-border-radius-bottomright:6px;
-webkit-border-radius-topleft:6px;
-webkit-border-radius-topright:6px;
background:#F7F7F7;
border:4px solid #CCCCCC;
width:240px;
height:30px;
margin-left:10px;
}


#banner h1 {
font-size:14px;
padding:10px 10px 0px 10px;
margin:0px;
}

#rightcontent p {
font-size:11px
}

.introduction ul, #introduction li {
text-align:center;
list-style: none;
margin: 0;
padding: 0;

}

.introduction a {
border-bottom: none;
color:#999999;
}

.introduction h3{
text-align: center;
position:static;

}

.data{
overflow:auto;
width:97%;
height:150px;
color:black;
/*border:solid 1px #ccc; */
margin-bottom:1px;
margin-left:10px;
}

.data p{
color:black; 
}

.data img{
margin-right:10px;
}


.data2{
overflow:auto;
width:97%;
height:287px;
color:black;
/*border:solid 1px #ccc; */
margin-bottom:1px;
margin-left:10px;
}

.data3{
overflow:auto;
width:94%;
height:287px;
color:black;
/*border:solid 1px #ccc; */
margin-bottom:1px;
margin-left:10px;
}

.select{ 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 25px; 
font-weight:bold;
width:220px;
margin-left:40px;
margin-top:25px;
} 


/* ~~~~~~~~~ PROPS FOR THE MENU GO OUT TO EXPLODING-BOY.COM ~~~~~~~~~ */

#topmenu {
background:url(images/bg_.jpg) top repeat-x;
color:#d9d5d5;
position: absolute;
top: 40px;
width: 100%;
font-size:120%;
font-weight:bold;
line-height:normal;
height: 60px;
}



/* ~~~~~~~~~ END MENU ~~~~~~~~~ */



/* ~~~~~~~~~ BEGIN FOOTER ~~~~~~~~~ */

#footer{
height:125px;
background:#000 url('images/bg_.jpg') top center repeat-x;
text-align: center;
padding-top: 8px;
clear: both;
float: none;
margin-left: -10px;
margin-right: -10px;
margin-bottom: -20px;

}

#footer a, a:link {
color:#999999;
text-decoration: none;

}
#footer a:hover {
color:#A5CE77;
text-decoration: none;
}

button{
cursor:pointer;
font-size:13px;
font-weight:bold;
}

/* ~~~~~~~~~ END FOOTER~~~~~~~~~ */


/* ~~~~~~~~~ BOXES AT BOTTOM OF PAGE ~~~~~~~~~ */

.centercontentleftb {float:left; width:97%; height:50px; text-align:left;
margin: 20px 10px 10px 10px;  color:#fff;}


.centercontentleftimg {float:left; width:45%; height:45%x; background-color:#31412c; text-align:left;
border:dashed 1px #888; padding:6px;  color:#fff;}

.centercontentrightimg {float:right; width:45%; height:45%; background-color:#31412c; text-align:left;
border:dashed 1px #888; padding:6px;  color:#fff;}

.centercontentrightb {float:right; width:50%; height:50px; text-align:left;
border:dashed 1px #888; margin: 20px 10px 0px 10px; padding:6px; font-size:1.1em; color:#fff;}

.centercontentleftimg {float:left; width:45%; height:45%; background-color:#31412c; text-align:left;
border:dashed 1px #888;  padding:6px;  color:#fff;}

.centercontentrightimg {float:right; width:45%; height:45%; background-color:#31412c; text-align:left;
border:dashed 1px #888;  padding:6px;  color:#fff;}


/*admin section*/

.centercontentleftadmin {
-moz-border-radius-bottomleft:3px;
-moz-border-radius-bottomright:3px;
-moz-border-radius-topleft:3px;
-moz-border-radius-topright:3px;
-webkit-border-radius-bottomleft:3px;
-webkit-border-radius-bottomright:3px;
-webkit-border-radius-topleft:3px;
-webkit-border-radius-topright:3px;
float:left; width:45%; height:500px; background-color:#fff; text-align:left;
border:solid 2px #ccc; margin: 4px 10px 5px 10px;  font-weight:bold; color:#666666;
}

.rubrique{
width:400px;
}

.rubriqueadmin h1{
font-size:1.3em;
}

.dataadmin{
overflow:auto;
width:98%;
height:450px;
color:black;
/*border:solid 1px #ccc; */
margin-bottom:1px;
margin-left:10px;
}

.dataadmin p{
color:black; 
}

.dataadmin img{
margin-right:10px;
}

.label1{
margin-right:10px;
}

.label2{
margin-right:133px;
}

.label3{
margin-right:123px;
}

.label4{
margin-right:115px;
}

.label5{
margin-right:96px;
}

.label6{
margin-right:116px;
}

.label7{
margin-right:140px;
}

.label8{
margin-right:116px;
}

#divdonnees p{
/*background-color:lightgrey;*/
}

.rightcontentadmin {
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
-webkit-border-radius-bottomleft:6px;
-webkit-border-radius-bottomright:6px;
-webkit-border-radius-topleft:6px;
-webkit-border-radius-topright:6px;
float:left; 
width:70%; 
height:496px; 
text-align:left;
border:solid 4px #ccc; 
margin: 53px 60px 0px 60px; 
overflow: auto;
background-color:#E0E0E0;
}

.rubrique2admin{
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
-webkit-border-radius-bottomleft:6px;
-webkit-border-radius-bottomright:6px;
-webkit-border-radius-topleft:6px;
-webkit-border-radius-topright:6px;
background:#F7F7F7;
border:4px solid #CCCCCC;
width:250px;
height:30px;
margin-left:10px;
}

#rightcontentadmin {
position: absolute;
right:10px;
top:0px;
width:400px;
height:600px; 
color:#000;
/*background-image:url("images/strips_onside.jpg");*/
/*background-repeat:repeat-y;*/
margin-top: 116px; 
font-weight:bold;
}

#rightcontentdmin p {color:#000;}

#rightcontentdmin a, a:link { color:#888; }

#rightcontentdmin a:hover, a:active{ color:#FF6666;}

.rubrique2admin h2{
font-size:1em;
}

.rubriqueadmin{
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
-webkit-border-radius-bottomleft:6px;
-webkit-border-radius-bottomright:6px;
-webkit-border-radius-topleft:6px;
-webkit-border-radius-topright:6px;
background:#F7F7F7;
border:4px solid #CCCCCC;
width:371px;
height:50px;
margin-left:10px
}

.dataadmin2{
overflow:auto;
width:97%;
height:180px;
color:black;
border:1px solid #BFBFBF;
margin-left:1px;
}

.dataadmin2 p{
color:black; 
font-size:1em;
font-weight:bold;
}

.dataadmin2 input{
margin-right:10px;
}

.messageAdmin{
-moz-border-radius-bottomleft:2px;
-moz-border-radius-bottomright:2px;
-moz-border-radius-topleft:2px;
-moz-border-radius-topright:2px;
-webkit-border-radius-bottomleft:2px;
-webkit-border-radius-bottomright:2px;
-webkit-border-radius-topleft:2px;
-webkit-border-radius-topright:2px;
margin-top:50px;
margin-left:300px;
padding:5px;
width:100px;
border:2px solid #FF0000;
color:#FF0000;
font-size:20px;
background-color:#ECB8B8;
}

.error_message{
margin-top:50px;
margin-left: auto ;
margin-right: auto ;
margin-bottom:0px;
color:#FF0000;
font-size:15px;
font-weight:bold;
width:500px;
align:center;
}

.confirm{
margin-top:50px;
color:#000;
font-size:25px;
font-weight:bold;
align:center;
}

#centercontent2 .table{
margin-bottom:30px;
color:#000;
font-weight:bold;
font-size:13px;
}

#centercontent2 .th{
background-color:#7F7F7F;
border:solid 1px #000;
}

#centercontent2 .thres{
background-color:red;
border:solid 1px #000;
}

#centercontent2 td{
border:solid 1px #000;
}

#main a{
font-size:15px;
font-weight:bold;
color:red;
text-decoration:none;
}

#pdf a{
font-size:15px;
font-weight:bold;
color:#fff;
text-decoration:none;
}
